.fermer{
    background-color:#bd3f3f;
    border-radius: 10px;
    border:none;
    width: 120px ;
    height: 35px;
    color: white;
    font-size: large;
    text-align: center;
 
  
  } 

  .ajouter{
    background-color: rgba(67, 172, 76, 0.452);
    border-radius: 10px;
    border:none;
    width: 120px ;
    height: 35px;
    color: white;
    font-size: large;
    text-align: center;
   
  } 