<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Clients</div>
  <div class="page__content shadow p-3 position-relative">
    <div>
      <div class="input-group rounded">
        <label for="nomPrenom" class="form-label mx-2" style="color: #ca3680; font-size: large;margin: 0.5%;">nom et prénom :</label>
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <mat-icon>person_search</mat-icon>
      </span>
    </div>
      
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Réference Column -->
        <ng-container matColumnDef="reference" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:1%;">Réference</th>
          <td mat-cell *matCellDef="let row" style="padding-left:1%;"> {{row.reference}} </td>
        </ng-container>

        <!-- NomPrénom Column -->
        <ng-container matColumnDef="nomPrenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:2%;">Nom et Prénom</th>
          <td mat-cell *matCellDef="let row" style="padding-left:2%;"> {{row.nomPrenom}} </td>
        </ng-container>

        <!-- chiffreAffaire Column -->
        <ng-container matColumnDef="chiffreAffaire">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:2%;">Chiffre d'affaire</th>
          <td mat-cell *matCellDef="let row" style="padding-left:2%;"> {{row.chiffreAffaire}} </td>
        </ng-container>

        <!-- solde Column -->
        <ng-container matColumnDef="solde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:0%;"> Solde </th>
          <td mat-cell *matCellDef="let row" style="padding-left:0%;"> {{row.solde}} </td>
        </ng-container>

        <!-- nbreVisite Column -->
        <ng-container matColumnDef="nbreVisite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:2%;">Nombre de visite </th>
          <td mat-cell *matCellDef="let row" style="padding-left:2%;"> {{row.nbreVisite | date}} </td>
        </ng-container>

        <!-- dateNaissance Column -->
        <ng-container matColumnDef="dateNaissance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:2%;"> date de naissance </th>
          <td mat-cell *matCellDef="let row" style="padding-left:2%;"> {{row.dateNaissance}} </td>
        </ng-container>

        <!-- observation Column -->    
        <ng-container matColumnDef="observation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:0%;"> Observation </th>
          <td mat-cell *matCellDef="let row" style="padding-left:0%;"> {{row.observation}} </td>
        </ng-container>

        <!-- organisme Column -->  
        <ng-container matColumnDef="organisme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:1%;"> Organisme </th>
          <td mat-cell *matCellDef="let row" style="padding-left:1%;"> {{row.organisme}} </td>
        </ng-container>

        <!-- groupe Column -->  
        <ng-container matColumnDef="groupe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:2%;"> Groupe </th>
          <td mat-cell *matCellDef="let row" style="padding-left:2%;"> {{row.groupe}} </td>
        </ng-container>
        
        <!-- action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:6%;"> Actions </th>

          <td mat-cell *matCellDef="let row" style="padding-left:6%;">
            <button class="modif m-1" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" >modifier</button>
            <button class="supp m-1 " (click)="deleteClient(row.reference)">supprimer</button>
          </td>

        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[ 15, 25, 100]" aria-label="Select page of listClient"></mat-paginator>
      <!-- Button Ajouter -->
      <div class="d-flex  m-2">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="ajouter"><mat-icon>person_add </mat-icon>  Ajouter client</button>
      </div>
      <!-- Button dossier -->
      <div class="d-flex m-2">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="dossier"><mat-icon>attach_file </mat-icon>  Dossier client</button>
      </div>
      <!-- Button dossier -->
      <div class="d-flex m-2">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="impri"><mat-icon>adf_scanner </mat-icon>  Imprimer</button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><mat-icon>people_alt</mat-icon> Client </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formValue">
                <div class="container-fluid">

                <div class="row">
                  <div class="col">
                <div class="mb-3">
                  <label for="nomPrenom" class="form-label">nom et prénom :</label>
                  <input type="text" formControlName="nomPrenom" class="form-control" required id="nomPrenom"
                    aria-describedby="emailHelp">
                  

                  <div class="mb-3">
                    <label for="numTel1" class="form-label">N°Tél 1 :</label>
                    <input type="text" formControlName="numTel1" class="form-control" required
                      pattern="[1-9]{1}[0-9]{7}" id="numTel1">
                  </div>

                  <div class="mb-3">
                    <label for="numTel2" class="form-label">N°Tél 2 :</label>
                    <input type="text" formControlName="numTel2" class="form-control" required
                      pattern="[1-9]{1}[0-9]{7}" id="numTel2">
                  </div>
                </div>
                </div>
                </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email :</label>
                    <input type="email" formControlName="email" class="form-control" required id="email">
                  </div>

                  <div class="mb-3">
                    <label for="dateNaissance" class="form-label">Date de naissance :</label>
                    <input type="date" formControlName="dateNaissance" class="form-control" required id="dateNaissance">
                  </div>

                  <div class="mb-3">
                    <label for="age" class="form-label">Age :</label>
                    <input type="text" formControlName="age" class="form-control" required id="age">
                  </div> 

                  <div class="mb-3">
                    <label for="cin" class="form-label">CIN :</label>
                    <input type="text" formControlName="cin" class="form-control" required id="cin">
                  </div>

                  <div class="mb-3">
                    <label for="numAssureSocial" class="form-label">N°Assuré social :</label>
                    <input type="text" formControlName="numAssureSocial" class="form-control" required id="numAssureSocial">
                  </div>

                  <div class="mb-3">
                    <label for="adresse" class="form-label">Adresse :</label>
                    <input type="text" formControlName="adresse" class="form-control" required id="adresse">
                  </div>

                  <div class="mb-3">
                    <label for="ville" class="form-label">Ville :</label>
                    <input type="text" formControlName="ville" class="form-control" required id="ville">
                  </div>
                  <div class="mb-3">
                    <label for="pays" class="form-label">Pays :</label>
                    <input type="text" formControlName="pays" class="form-control" required id="pays">
                  </div>

                  <div class="mb-3">
                    <label for="groupe" class="form-label">Groupe :</label>
                    <input type="text" formControlName="groupe" class="form-control" required id="groupe">
                  </div> 

                  <div class="mb-3">
                    <label for="organisme" class="form-label">Organisme :</label>
                    <input type="text" formControlName="organisme" class="form-control" required id="organisme">
                  </div>
          
                </div>
                <div class="modal-footer">
                  <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" 
                    class="btn btn-success">Add</button>
                  <button type="button" 
                    class="btn btn-warning">Update</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>