<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    
      <table>
        <tr>
          <td style="padding-left:10%;padding-top: 10%;">
            <mat-icon matSuffix routerLink="/dashboard" style="color:rgba(170, 170, 19, 0.692) ;font-size: 200px;">store</mat-icon>
            
          </td>
          <td style="padding-left:30%;padding-top: 10%;" >
            <mat-icon matSuffix routerLink="/dashboard" style="color:rgba(170, 170, 19, 0.692) ;font-size: 200px;">store</mat-icon>
           
          </td>
          <td style="padding-left:50%;padding-top: 10%;">
            <mat-icon matSuffix routerLink="/dashboard" style="color:rgba(170, 170, 19, 0.692) ;font-size: 200px;">store</mat-icon>
            
          </td>
        </tr>

        <tr>
          <td style="padding-left:18%;padding-top: -1rem;">
            
            <p align="center" style="color: rgba(170, 170, 19, 0.692); text-align: center;">Boutique Lafran</p>
          </td>
          <td style="padding-left:38%;padding-top: -1rem;">
            
            <p align="center" style="color: rgba(170, 170, 19, 0.692);text-align: center;">Boutique Nasria</p>
          </td>
          <td style="padding-left:58%;padding-top: -1rem;">
            
            <p align="center" style="color: rgba(170, 170, 19, 0.692);text-align: center;">Boutique Bouzain</p>
          </td>
        </tr>
        
      </table>
   
  </div>
</div>
