<div class="row flex-grow" data-aos="fade-up" id="Slide_BG">
  <div class="col-lg-4 mx-auto" style="background-color:#f7f7f7 ;margin-top:5%; width: 30%;height: 30%;">
    <div class="auth-form-light text-left p-3">
      <div class="brand-logo" align="center">
        <img src="./assets/opticien logo1.png">
      </div>
      <h4 align="center" style="color: #0d3283;margin-top:5%; font-size: medium;">Bienvenue</h4>
      <h6 class="font-weight-light" align="center" style="color: #0d3283;font-size: small;">Connectez-vous pour continuer.</h6>


      <!--Form-->
      <form [formGroup]="loginForm" (submit)="onSubmit()" ngNativeValidate class="pt-1">

        <div class="form-group" align="center">
          <mat-form-field appearance="outline" style="width: 250px;font-size: 80%;">
            <mat-label>Email :</mat-label>
            <input style="color:#0d3283 ;" id="exampleInputEmail1" formControlName="email" matInput
              placeholder="pat@example.com" type="text">
            <mat-icon style="color:#0d3283 ;" matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <div class="form-group" align="center">
          <mat-form-field appearance="outline" style="width: 250px;font-size: 80%;">
            <mat-label>Mot de passe :</mat-label>
            <input style="color:#0d3283 ;" id="exampleInputPassword1" formControlName="password" matInput placeholder=""
              type="password">
            <mat-icon style="color:#0d3283 ;" matSuffix>visibility</mat-icon>
          </mat-form-field>
        </div>

        <p class="text-danger text-sm" *ngIf="error" style="font-size: smaller;">{{errorMessage}}</p>

        <div class="mt-2">
          <button type="submit" class="btn btn-theme"   style="margin-left:30%;margin-top: auto; width: 40%;color: #0d3283;font-size: smaller;font-weight: bold;">S'IDENTIFIER</button>
        </div>

        <div class="my-1 d-flex justify-content-between align-items-center">
          <div class="form-check">
            <label class="form-check-label text-muted" style="font-size: smaller;">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper" ></i>
              Gardez-moi connecté
            </label>
          </div>
          <a href="javascript:(void)" class="auth-link text-black" style="font-size: smaller;">Mot de passe oublié?</a>
        </div>

        <div align="center" style="color: #0d3283;font-size: smaller;"  >
          Vous n'avez pas de compte ? <a routerLink="/register" class="text-primary">Créer</a>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->